
$border_radius_default: 5px;
$font-family: "Microsoft Jhenghei UI", Pmingliu, "Segoe UI", -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;

// color
$default-Black: #333438;   // 基本文字
$Black-1: #13131f;

$grey-1: #8f9dbf;
$grey-2: #EDEFF2;
$grey-3: #f5f5f5;
$grey-4: #C4C4C4;

$blue-1: #22C2D3;
$blue-2: #76CBDD;

$purple-1: #4f628d;
$purple-2: #182b56;

$red-1:#FF6357;

$yellow-1: #fea62c;
